<?xml version="1.0"?>
<monthly>



	<event>
		<id>1</id>
		<name>Protocollo informatico</name>
		<startdate>2022-10-28</startdate>
		<enddate>2022-10-29</enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>green</color>
		<url></url>
	</event>
	<event>
		<id>2</id>
		<name>Test corso</name>
		<startdate>2022-10-29</startdate>
		<enddate>2022-10-29</enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>red</color>
		<url></url>
	</event>
	<event>
		<id>3</id>
		<name>Test corso 2</name>
		<startdate>2022-10-9</startdate>
		<enddate>2022-10-11</enddate>
		<starttime>fkadsbfkasdfhaksdf</starttime>
		<endtime></endtime>
		<color>blue</color>
		<url></url>
	</event>
	

	
</monthly>
