<?xml version="1.0"?>
<monthly>



	<event>
		<id>1</id>
		<name>Protocollo informatico</name>
		<startdate>2022-10-28</startdate>
		<enddate>2022-10-28</enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#c93c0e</color>
		<url></url>
	</event>
	<event>
		<id>2</id>
		<name>Test corso</name>
		<startdate>2022-10-29</startdate>
		<enddate>2022-10-29</enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#c93c0e</color>
		<url></url>
	</event>
	

	
</monthly>
